<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPS"
        tools:targetApi="31">
        <activity
            android:name=".GiftPopFailedActivity"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".QuizSchoolActivity"
            android:exported="false" />
        <activity
            android:name=".QuizConfidenceActivity"
            android:exported="false" />
        <activity
            android:name=".QuizOverweightActivity"
            android:exported="false" />
        <activity
            android:name=".QuizBrainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".CompleteActivity"
            android:exported="false" />
        <activity
            android:name=".WrongActivity"
            android:exported="false" />
        <activity
            android:name=".CorrectActivity"
            android:exported="false" />
        <activity
            android:name=".QuizBrainActivity"
            android:exported="false" />
        <activity
            android:name=".QuizCarboActivity"
            android:exported="false" />
        <activity
            android:name=".QuizConfidenceActivity"
            android:exported="false" />
        <activity
            android:name=".QuizFatActivity"
            android:exported="false" />
        <activity
            android:name=".QuizOverActivity"
            android:exported="false" />
        <activity
            android:name=".QuizProteinActivity"
            android:exported="false" />
        <activity
            android:name=".QuizSchoolActivity"
            android:exported="false" />
        <activity
            android:name=".QuizSodiumActivity"
            android:exported="false" />
        <activity
            android:name=".QuizSugarActivity"
            android:exported="false" />
        <activity
            android:name=".GainPointActivity"
            android:exported="false" />
        <activity
            android:name=".GainPointListActivity"
            android:exported="false" />
        <activity
            android:name=".GiftPopActivity"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".ChangeToGiftActivity"
            android:exported="false" />
        <activity
            android:name=".MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".CheckPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".JoinActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SearchMenuActivity"
            android:exported="false" />
        <activity
            android:name=".SearchRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>